[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
aiosqlite = "*"
faker = "*"
click = "*"
uvicorn = "*"
typer = "*"

[dev-packages]
ipdb = "*"
black = "*"

[requires]
python_version = "3.8"
